<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>usePage</title>
    <link rel="stylesheet" href="../styles/addArticle.css">
</head>
<body>
    <header>
        <div class="container">
            <a href="userPage.html" class="logo">ARTICLES</a>
            <nav>
                <a href="#"><button class="button">@username</button></a>
                <a href="index.html"><button class="button">end session</button></a>
            </nav>
        </div>
    </header>
    <br><br>
   
    <div class="button-container">
        <div class="buttons">
            <a href="addArticle.html"><button class="button2">NEW ARTICLE</button></a>
        </div>
    </div>
    
    <br><br>
    <div class="articles-container">
        
    </div>
    <section class="articles">
        <article>
            <div class="newArticle">
                <label for="title">TITLE:</label><br>
                <input type="text" id="title" name="title" value=""><br><br>
                <label for="content">CONTENT:</label><br>
                <textarea id="content" name="content" rows="20" cols="120" ></textarea><br>
                <label for="image">IMAGE (optional):</label><br>
                <input type="file" id="image" name="image" accept="image/png, image/jpeg"><br><br>
            </div>
        </article>
    </section>
    <br>
    <nav class="pagination">
        <a href="#" aria-label="Next">SAVE ARTICLE</a>
    </nav>
    <br><br><br>
    <footer>
        <div class="footer-container">
            <p>Made by David Buesa Lorente</p>
        </div>
    </footer>
</body>

</html>