<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <a href="index.html" class="logo">ARTICLES</a>
            <nav>
                <a href="login.html"><button class="button">LOGIN</button></a>
                <a href="resgister.html"><button class="button">REGISTER</button></a>
            </nav>
        </div>
    </header>
    <br>
    <div class="searchBar">
        <input type="text" placeholder="Search your article...">
        <button class="search">Search</button>
    </div>
    <section class="articles">
        <article>
        <img src="../assets/images/urkito.jpg" alt="Urko">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sit amet, consectetur adipiscing elit sit amet, consectetur adipiscing elit sit amet, consectetur adipiscing elit sit amet, consectetur adipiscing elit sit amet, consectetur adipiscing elit...</p>
        </article>
    </section>
    <section class="articles">
        <article>
        <img src="../assets/images/urkito.jpg" alt="Urko">
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, cum bibendum urna auctor vestibulum convallis curabitur eros, quisque litora imperdiet lobortis massa cursus. Accumsan elementum cubilia torquent nulla magna dignissim nunc suspendisse aenean, dui ultricies laoreet integer pretium pellentesque tempus nec, tempor proin rhoncus congue hac ut scelerisque odio. Porttitor libero commodo sapien purus dapibus maecenas, ac quam varius nisl posuere.</p>
        </article>
    </section>
    <section class="articles">
        <article>
        <img src="../assets/images/urkito.jpg" alt="Urko">
        <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit suspendisse ante quam mattis primis mi, porttitor dictum nisi commodo quisque. Diam nunc interdum nullam euismod curae felis, feugiat erat arcu velit enim lacinia natoque, tristique per convallis libero netus. Senectus dis praesent fringilla est fusce accumsan, ad etiam aliquet ac morbi faucibus, rutrum at lobortis phasellus penatibus.</p>
        </article>
    </section>
    <section class="articles">
        <article>
        <img src="../assets/images/urkito.jpg" alt="Urko">
        <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit cubilia tempus libero tortor phasellus sociosqu, cras faucibus nec fames bibendum. Dictum auctor enim et dictumst habitasse conubia quis purus rutrum praesent, venenatis aliquam sapien urna hac vestibulum nam porta quam fringilla est, himenaeos pellentesque primis ullamcorper fusce duis vitae natoque cursus.</p>
        </article>
    </section>
    <br>
    <nav class="pagination">
        <a href="#" aria-label="Previous">PREVIOUS</a>
        <a href="userPage.html">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#" aria-label="Next">NEXT</a>
      </nav>
      <br><br><br><br><br><br><br><br><br><br><br>
      <footer>
        <div class="footer-container">
            <p>Made by David Buesa Lorente</p>
        </div>
    </footer>
</body>

</html>