<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>passwordRecovery</title>
    <link rel="stylesheet" href="../styles/passwordRecovery.css">
</head>
<body>
    <header>
        <div class="container">
            <a href="index.html" class="logo">ARTICLES</a>
            <nav>
                <a href="login.html"><button class="button">LOGIN</button></a>
                <a href="resgister.html"><button class="button">REGISTER</button></a>
            </nav>
        </div>
    </header>
    <div class="login">
        <div class="login-container">
            <form>
                <br>
                <label style="font-weight: bold;" for="username">New password</label>
                <input type="text" name="username" ><br>
                <label style="font-weight: bold;" for="password">Repeat password</label>
                <input type="password" name="password"><br><br>
                <button type="submit" class="login-btn">RESTORE PASSWORD</button>
                <br>
            </form>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <footer>
        <div class="footer-container">
            <p>Made by David Buesa Lorente</p>
        </div>
    </footer>
</body>
</html>