<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="../styles/register.css">
</head>
<body>
    <header>
        <div class="container">
            <a href="index.html" class="logo">ARTICLES</a>
            <nav>
                <a href="login.html"><button class="button">LOGIN</button></a>
                <a href="resgister.html"><button class="button">REGISTER</button></a>
            </nav>
        </div>
    </header>
    <div class="login">
        <div class="login-container">
            <form>
                <label style="font-weight: bold;" for="username">Username</label>
                <input type="text" name="username" ><br>
                <label style="font-weight: bold;" for="password">Password</label>
                <input type="password" name="password"><br>
                <label style="font-weight: bold;" for="password2">Repeat your password</label>
                <input type="password" name="password2"><br><br>
                <button type="submit" class="login-btn">REGISTER</button>
                <br>
                <div class="or-divider">
                    <div class="line"></div>
                    <span class="or-text">OR</span>
                    <div class="line"></div>
                </div>
                <button class="btn-google">
                    <img src="../assets/images/google.webp" alt="Google Icon">   LOGIN WITH GOOGLE
                  </button>
                  
                  <button class="btn-google">
                    <img src="../assets/images/github.png" alt="GitHub Icon">LOGIN WITH GITHUB
                  </button>
                  
            </form>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <footer>
        <div class="footer-container">
            <p>Made by David Buesa Lorente</p>
        </div>
    </footer>
</body>
</html>