<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>usePage</title>
    <link rel="stylesheet" href="../styles/userMenu.css">
</head>
<body>
    <header>
        <div class="container">
            <a href="userPage.html" class="logo">ARTICLES</a>
            <nav>
                <a href="#"><button class="button">@username</button></a>
                <a href="index.html"><button class="button">end session</button></a>
            </nav>
        </div>
    </header>
    <br><br>

    <section>
        <div class="personal-info-container">
            <h1>PERSONAL INFO:</h1>
            <div class="personal-info">
                <div class="info-block">
                    <label for="name">NAME:</label><br>
                    <input type="text" id="name" name="name" value="Lorem ipsum" disabled><br>
                    <label for="surname">SURNAME:</label><br>
                    <input type="text" id="surname" name="surname" value="Lorem ipsum" disabled><br><br>
                    <label for="email">EMAIL:</label><br>
                    <input type="text" id="email" name="email" value="Lorem ipsum" disabled><br>
                    <label for="username">USERNAME:</label><br>
                    <input type="text" id="username" name="username" value="Lorem ipsum" disabled><br>
                    <label for="username">PASSWORD:</label><br>
                    <input type="password" id="password" name="password" value="Lorem ipsum" disabled><br>
                </div>
            </div>
            <a href="#"><button class="editButton">EDIT</button></a>
        </div>
    </section>
    
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <footer>
        <div class="footer-container">
            <p>Made by David Buesa Lorente</p>
        </div>
    </footer>
</body>

</html>