<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>usePage</title>
    <link rel="stylesheet" href="../styles/userPage.css">
</head>
<body>
    <header>
        <div class="container">
            <a href="userPage.html" class="logo">ARTICLES</a>
            <nav>
                <a href="userMenu.html"><button class="button">@username</button></a>
                <a href="index.html"><button class="button">end session</button></a>
            </nav>
        </div>
    </header>
    <br><br>
   
    <div class="button-container">
        <div class="buttons">
            <a href="addArticle.html"><button class="button2">ADD ARTICLE</button></a>
            <a href="modifyArticle.html"><button class="button2">MODIFY ARTICLE</button></a>
            <a href="deleteArticle.html"><button class="button2">DELETE ARTICLE</button></a>
        </div>
    </div>
    
    <br><br>
    <section class="articles">
        <article>
        <img src="../assets/images/urkito.jpg" alt="Urko">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sit amet, consectetur adipiscing elit sit amet, consectetur adipiscing elit sit amet, consectetur adipiscing elit sit amet, consectetur adipiscing elit sit amet, consectetur adipiscing elit...</p>
        </article>
    </section>
    <section class="articles">
        <article>
        <img src="../assets/images/urkito.jpg" alt="Urko">
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, cum bibendum urna auctor vestibulum convallis curabitur eros, quisque litora imperdiet lobortis massa cursus. Accumsan elementum cubilia torquent nulla magna dignissim nunc suspendisse aenean, dui ultricies laoreet integer pretium pellentesque tempus nec, tempor proin rhoncus congue hac ut scelerisque odio. Porttitor libero commodo sapien purus dapibus maecenas, ac quam varius nisl posuere.</p>
        </article>
    </section>
    <section class="articles">
        <article>
        <img src="../assets/images/urkito.jpg" alt="Urko">
        <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit suspendisse ante quam mattis primis mi, porttitor dictum nisi commodo quisque. Diam nunc interdum nullam euismod curae felis, feugiat erat arcu velit enim lacinia natoque, tristique per convallis libero netus. Senectus dis praesent fringilla est fusce accumsan, ad etiam aliquet ac morbi faucibus, rutrum at lobortis phasellus penatibus.</p>
        </article>
    </section>

    <br>
    <nav class="pagination">
        <a href="#" aria-label="Previous">PREVIOUS</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#" aria-label="Next">NEXT</a>
      </nav>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <footer>
        <div class="footer-container">
            <p>Made by David Buesa Lorente</p>
        </div>
    </footer>
</body>

</html>